<div class="container">
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a routerLink="/core/url" style="text-decoration:none" >
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl font-weight-bold text-primary d-flex justify-content-center mb-1">
                                Url</div>

                        </div>
                        <div class="col-auto d-flex justify-content-between ">
                            <i class="fa fa-link fa-3x text-gray-300 d-flex justify-content-between "></i>
                        </div>
                    </div>
                </div>
            </div>
        </a></div>

        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a routerLink="/core/form" style="text-decoration:none" >
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl font-weight-bold text-success d-flex justify-content-center mb-1">
                                Formulaire Simple</div>

                        </div>
                        <div class="col-auto">
                            <i class="fa fa-list fa-3x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        </div>

        <!-- Tasks Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a routerLink="/core/carte" style="text-decoration:none">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2 align-items-center">
                                <div class="text-xl font-weight-bold text-info d-flex justify-content-center mb-1">Carte Visite
                                </div>
                                <div class="row no-gutters align-items-center">
                                </div>
                            </div>
                            <div class="col-auto ">
                                <i class="fa fa-address-card fa-3x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a routerLink="/core/menu" style="text-decoration:none" >
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xl font-weight-bold text-warning d-flex justify-content-center mb-1">
                                    Menu</div>

                            </div>
                            <div class="col-auto">
                                <i class="fa fa-qrcode fa-3x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3  text-gray-800 text-align: center ">Nos Services</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">URL</h6>
        </div>
        <div class="card-body">
            <p>Saisissez l'URL de votre site Internet !(votre code QR va être généré automatiquement).</p>
            <p>Saisissez du Text aussi, Permet d’afficher du texte (jusqu’à 300&nbsp;caractères) dans la langue de votre
                choix!</p>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-success text-primary">Formulaire</h6>
        </div>
        <div class="card-body">
            Permet de Créer un Formulaire avec votre choix correspond à vos besoins !
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-info text-primary">Carte Visite</h6>
        </div>
        <div class="card-body">
            Créez votre carte de visite numérique à sauvegarder!
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-warning text-primary">Autre</h6>
        </div>
        <div class="card-body">
            Vous en attendez encore plus de vos codes QR&nbsp;? Découvrez encore!
        </div>
    </div>