<div class="container">
    <div class="row">
        <div class="container">
            <div>
                <h1 class="h1  text-gray-800  " style="margin-left: 40rem;margin-top: 5rem;">Nos Services</h1><br>
                <h3 style="margin-left: 15rem;text-align: center;color: #0060FF;">
                    Vous pouvez choisir parmi URL,texte brut, Cart Visite, Invitation pour Mariage,Formulaire Libre et
                    Menu. Ces codes QR sont modifiables et traçables.</h3>
            </div>
            <main class="main" style="margin-left: 13rem;margin-top: -15rem;">

                <section class="card-area">

                    <!-- Card: City -->
                      <!-- Card: City -->
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--city">
                                    <i class="fa fa-link" style="font-size:60px;"></i>

                               <h2 class="card-front__heading">
                                Site web
                            </h2>
                            
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--city">
                                        Voir
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                                <img style="width:15em; height:15em;" src="assets/img/about/u.webp" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--city">
                                Url
                            </h3>
                            <p class="inside-page__text">
                                Saisissez l'URL de votre site Internet pour le sauvegarder
                            </p>
                            <a routerLink="/core/url" class="inside-page__btn inside-page__btn--city">View deals</a>
                        </div>
                    </div>
                </div>
            </section>
                    <!-- <section class="row">
                        <div class="card">
                            <div class="flip-card">
                                <div class="flip-card">
                                    <div class="flip-card__container">
                                        <div class="card-front">
                                            <div class="card-front__tp card-front__tp--city">
                                                <i class="fa fa-link" style="font-size:60px;"></i>

                                                <h2 class="card-front__heading">
                                                    Site web
                                                </h2>

                                            </div>

                                            <div class="card-front__bt">
                                                <p class="card-front__text-view card-front__text-view--city">
                                                    Voir
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-back">
                                            <img style="width:15em; height:15em;" src="assets/img/about/u.webp" alt="">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="inside-page">
                                <div class="inside-page__container">
                                    <h3 class="inside-page__heading inside-page__heading--city">
                                        Url
                                    </h3>
                                    <p class="inside-page__text">
                                        Saisissez l'URL de votre site Internet pour le sauvegarder
                                    </p>
                                    <a href="#" class="inside-page__btn inside-page__btn--city">View deals</a>
                                    
                                </div>
                            </div>
                        </div>
                    </section> -->

                    <!-- Card: Mariage -->
                    <section class="card-section">
                        <div class="card">
                            <div class="flip-card">
                                <div class="flip-card__container">
                                    <div class="card-front">
                                        <div class="card-front__tp card-front__tp--ski">
                                            <i class="fa fa-heart" style="font-size:60px;"></i>
                                            <h2 class="card-front__heading">
                                                Mariage
                                            </h2>

                                        </div>

                                        <div class="card-front__bt">
                                            <p class="card-front__text-view card-front__text-view--ski">
                                                Voir
                                            </p>
                                        </div>
                                    </div>

                                    <div class="card-back">
                                        <img style="width:15em; height:15em;" src="assets/img/about/c.webp" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="inside-page">
                                <div class="inside-page__container">
                                    <h3 class="inside-page__heading inside-page__heading--ski">
                                        Félicitation Amoureux
                                    </h3>
                                    <p class="inside-page__text">
                                        Créez votre Invitation de Mariage numérique !
                                    </p>
                                    <a routerLink="/core/carte" class="inside-page__btn inside-page__btn--ski">
                                        Accéder</a>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Card: Beach -->
                    <section class="card-section">
                        <div class="card">
                            <div class="flip-card">
                                <div class="flip-card__container">
                                    <div class="card-front">
                                        <div class="card-front__tp card-front__tp--beach">
                                            <i class="fa fa-address-card" style="font-size:60px;"></i>

                                            <h2 class="card-front__heading">
                                                Carte Visite
                                            </h2>

                                        </div>

                                        <div class="card-front__bt">
                                            <p class="card-front__text-view card-front__text-view--beach">
                                                Voir
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <img style="width:15em; height:15em;" src="assets/img/about/ca.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="inside-page">
                                <div class="inside-page__container">
                                    <h3 class="inside-page__heading inside-page__heading--beach">
                                        Développer votre Business
                                    </h3>
                                    <p class="inside-page__text">
                                        Créez votre carte de visite numérique à sauvegarder!
                                    </p>
                                    <a routerLink="/core/carte"
                                        class="inside-page__btn inside-page__btn--beach">Accéder</a>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Card: Camping -->
                    <section class="card-section">
                        <div class="card">
                            <div class="flip-card">
                                <div class="flip-card__container">
                                    <div class="card-front">
                                        <div class="card-front__tp card-front__tp--camping">
                                            <i class="fa fa-list" style="font-size:60px;"></i>
                                            <h2 class="card-front__heading">
                                                Formulaire Libre
                                            </h2>

                                        </div>

                                        <div class="card-front__bt">
                                            <p class="card-front__text-view card-front__text-view--camping">
                                                Voir
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <img style="width:15em; height:15em;" src="assets/img/about/f.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="inside-page">
                                <div class="inside-page__container">
                                    <h3 class="inside-page__heading inside-page__heading--camping">
                                        Formulaire
                                    </h3>
                                    <p class="inside-page__text">
                                        Créer un Formulaire avec votre choix correspond à vos besoins !
                                    </p>
                                    <a routerLink="/core/form"
                                        class="inside-page__btn inside-page__btn--camping">Accéder</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>

            </main>